:root {
  --primary-color: #1992d4;
  --secondary-color: #e3b030;
  --background-color: #e2e8f0;
}

* {
  margin: 0;
  padding: 0;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a {
  text-decoration: none;
}

svg {
  width: 23px;
}

.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main-content";
}

/* Header CSS styles */

.header {
  background-color: white;
  grid-area: header;
  box-shadow: -1px 3px 20px -9px rgba(0,0,0,0.66);
  z-index: 2;
  font-weight: bold;

  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 10px;
  padding: 10px 50px;
}

.header div {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: end;
}

input[type="search"]{
  border-radius: 20px;
  height: fit-content;
  padding: 7px;
  border: none;
  background-color: var(--background-color);
  flex: 1;
}

button {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: white;
  font-weight: bold;
  /* font-size: 0.9rem; */
  border: none;
}

.image-cropper {
  border-radius: 25px;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.header img {
  height: 45px;
  width: 43px;
}

.profile {
  justify-self: start;
}

.profile .image-cropper {
  height: 75px;
  width: 75px;
  border-radius: 50px;
}

.profile img {
  height: 80px;
  width: 80px;
}

.profile .greeting {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: start;
}

.greeting :first-child {
  font-size: 0.8rem;
}

.greeting :last-child {
  font-size: 1.25rem;
}

/* Sidebar CSS styles */

.sidebar {
  background-color: var(--primary-color);
  grid-area: sidebar;

  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.nav a, .settings a, .logo {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;
  color: white;
}

.logo {
  font-size: 1.5rem;
  color: white;
  gap: 15px;
  font-weight: 700;
}

.logo svg {
  width: 40px;
}

/* Main Content CSS styles */

.main-content {
  background-color: #e2e8f0;
  grid-area: main-content;

  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "projects announcements"
    "projects trending";
}

.projects {
  grid-area: projects;
  background-color: red;
}

.announcements {
  grid-area: announcements;
  background-color: blue;
}

.trending {
  grid-area: trending;
  background-color: yellow;
}